.user {
	font-weight: bold;
}
head {
    font-size: 150%;    
}
#chat{
    margin: 10px;
    width: calc(100% - 20px);
    min-height: 480px;
    max-height: 580px;
    border: 1px solid black;
    overflow: auto !important;
}
#wrapper{
    width: 100%;
    height: 700px;
}
#msg {
    margin-top:4px;
    width: 350px;
}
.info{
    color : mediumseagreen;
}